<REDDIT_CLIENT_ID>asdffdsa-asdf</REDDIT_CLIENT_ID>
<REDDIT_CLIENT_SECRET>asdffdsaasdffdsa</REDDIT_CLIENT_SECRET>
<REDDIT_ACCESS_TOKEN>1234567890-12_asdffdsa-asdffdsa</REDDIT_ACCESS_TOKEN>
<REDDIT_REFRESH_TOKEN>1234567890-asdf-asdffdsa_asdf-fdsa</REDDIT_REFRESH_TOKEN>
<COPYCOMMENTSFROM>https://www.reddit.com/r/GermanRap/comments/zfapyo/einreichungsthread_unser_jahresr%C3%BCckblick_2022/</COPYCOMMENTSFROM>
<KARMAREQUIRED>0</KARMAREQUIRED>
<DELAY>11000</DELAY>
<COPYCOMMENTSTO>https://www.reddit.com/r/GermanRap/comments/FIKTIVER_LINK_BEREITS_GEPOSTET</COPYCOMMENTSTO>
